<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 게시판</title>
    <nav>
        홈페이지
    </nav>
    <div align="right">
        <br/>
        <button style="height: 40px; background-color: greenyellow;"
                onclick="location.href='/'"> 홈으로 </button>
    </div>
</head>
<body>
<br/>
<div align="center">
    <div class="container" align="center">
        <br><br/>
        <button onclick="location.href='./user/signup'" style="margin-right: 50px"> 회원 가입</button>
        <button onclick="location.href='./user/userList'" style="margin-right: 50px"> 회원 조회</button>
        <button onclick="location.href='./content/write'" style="background-color: palegoldenrod"> 글 작성</button>
        <br/><br/>
        <button class="category_button" onclick="location.href='./content/contentListC/1'"> 카테고리1</button>
        <button class="category_button" onclick="location.href='./content/contentListC/2'"> 카테고리2</button>
        <button class="category_button" onclick="location.href='./content/contentListC/3'"> 카테고리3 </button>
        <br/><br/><br/>
    </div>
</div>
</body>
</html>